script(src='js/login.js')
form(id='login-form')
  input(id='input-email', type='text', name='email', class='form-control', placeholder='Enter email')
  input(id='input-password', type='password', name='password', class='form-control', placeholder='Enter password')
  br
  input(id='login-button', class='login-button', type='button', value='Login / Register', onClick="doLogin();")
div(id='login-notice', class='info')
div.w320c
  input(id='cancel-register-button', class='common-btn cancel disappear' type='button', value='Cancel', onClick="cancelRegister();")
  input(id='accept-register-button', class='common-btn accept disappear' type='button', value='Accept', onClick="acceptRegister();")