form(id='login-form')
  input(id='input-email', type='text', name='email', class='form-control', placeholder='Enter email')
  input(id='input-password', type='password', name='password', class='form-control', placeholder='Enter password')
  br
  input(id='login-button', class='login-button', type='button', value='Login / Register', onClick="doLogin();")
div(id='login-notice', class='info')