doctype html
html(lang="en")
  head
    title="Login Page"
    link(href='/css/common.css', rel='stylesheet')
    script(src='js/jquery.min.js')
    script(src='js/underscore-min.js')
  body
    h1.ac Mini Gacha Game
    hr
    div#content
      if user
        include ./sub/home.jade
      else
        include ./sub/login.jade
